name: test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.15"]
    name: Go ${{ matrix.go }} Test
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
      - name: Building
        run: go build ./...
      - name: Testing
        run: go test ./...
        env:
          VIDEO_ID: ${{ secrets.VIDEO_ID }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
